<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136963419190-odqlqee0d9c83il55atpm0vbj5df9cm5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136963419190-odqlqee0d9c83il55atpm0vbj5df9cm5</string>
	<key>API_KEY</key>
	<string>AIzaSyAzYaCrTmwK-7il7DfLzRwanLa1VibfC9E</string>
	<key>GCM_SENDER_ID</key>
	<string>136963419190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>workoutlist.com</string>
	<key>PROJECT_ID</key>
	<string>workoutlist-480f2</string>
	<key>STORAGE_BUCKET</key>
	<string>workoutlist-480f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136963419190:ios:086196846c393f50587c97</string>
</dict>
</plist>